.postCard {
        background-color: rgb(255, 255, 255);
        width: 900px;
        height: 700px;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 40px;
        border-radius: 10px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.textPostCard {
        height:fit-content;
}

.postCard .video .vid {
        width: 800px;
        height: 440px;
        border-radius: 20px;
        margin: auto;
}
.postCard .video{
       text-align: center;
}
.postCard .postDetails{
        display: flex;
        margin: 10px;
        padding-top: 20px;
        padding-left: 20px;
}
.postCard .postDetails img{
        height: 60px;
        width: 60px;
        border-radius: 60px;
}
.postCard .postDetails span{
        padding-top: 15px;
        padding-left: 30px;
        font-size: 20px;
        font-weight: bold;
        line-height: 0.5;
}
.postCard .postDetails span p{
       
        font-weight: 400;
        font-size: 15px;
        
}
.postCard .details{
        text-align:center;
        margin: 20px;
}
.postCard .details p span{
       color: rgb(53, 82, 253);
       font-weight: bold;
       cursor: pointer;
}

.postCard .footer{
        display: flex;
}
.postCard .footer div{
        cursor: pointer;
        display: flex;
        margin: 10px;
        margin-left: 30px;
}
.postCard .footer div .icon{
        cursor: pointer;
        font-size: 40px;
}
.postCard .footer div .like{
        cursor: pointer;
        font-size: 40px;
        color: red;
}
.postCard .footer div span{
        padding-top: 5px;
        margin-left: 8px;
        font-size: 18px;
}
.newLogo{
        color: red;
        padding-left: 550px;
}
                