.container{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    height: 89.2vh;
    background-color: rgb(248, 249, 251);
}
/* .container .sidebar{
   
}
.container .friends{
   
} */
.container .posts{
    overflow-y: scroll;
}

.posts::-webkit-scrollbar {
    display: none;
}

.sidebar .newFeed{
    width: 300px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}