.friendList{
    width: 500px;
    background-color: #ffff;
    height:700px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* margin-right: 60px; */
    margin-top: 40px;
    border-radius: 10px;
    overflow-y: scroll;
}
.friendList h2{
    margin: 20px;
    color: rgb(173, 181, 189);
}

.friendList::-webkit-scrollbar {
    display: none;
}