.login{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}
.login .left{
    background-color: black;
    background-color: #8888f9;
    color: white;
    text-align: center;
}
.login .left h1{
    font-size: 80px;
    margin-top: 50%;
}
.login .right{
    background-color: rgb(245, 245, 245);
}
.login .right .box{
    width: 350px;
    height: 500px;
    border-radius: 20px;
    margin: auto;
    margin-top: 25%;
}

.box .heading{
    line-height: 0.5;
    margin-bottom: 30px;
    color: #8888f9;
}

.box .inputBox{
    background-color: white;
    padding: 60px;
    border-radius: 20px;
    text-align: center;
}
.input{
    width: 100%;
    background-color: rgb(245, 245, 245);
    height: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    color: black;
    padding-left: 10px;
}
.inputBox button{
    cursor: pointer;
    width: 100%;
    background-color: black;
    background-color: #8888f9;
    color: white;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}




.btnText{
    display: flex;
}
.icon{
    width: 20px;
    height: 20px;
    margin-right: 20px;
    margin-left: 10px;
}
.loginWithGoogle button{
    cursor: pointer;
    height: 40px;
    width: 200px;
    background-color: white;
    border: none;
    border-radius: 10px;
}
.loginWithGoogle{
    margin-bottom: 20px;
}
.signUpText{
    text-align: center;
    margin-top: 20px;
}

.signUpText span{
    color: black;
    color: #8888f9;
    font-weight: bold;
    cursor: pointer;
}