.login{
    position: absolute;
    /* background-color: red; */
    height: 40rem;
    width: 30rem;
    left: 50%;
    top: 50%;
    transform: translate(-40%,-50%);
}
.heading{
    font-size: larger;
}

.myInput{
    width: 20rem;
    border: 1px solid rgb(238, 238, 238);
    margin-bottom: 1.5rem;
    padding: 1.4rem;
    color: rgb(114, 134, 163);
    border-radius: 10px;

}
.myInput{

    width: 20rem;
    display: flex;
}
.myInput input{
    border: none;
    font-size: larger;
}
.myInput input:focus{
    outline: none;
}
.icon{
    font-size:large;
    margin-right: 10px;
}

.submitBtn button{
    cursor: pointer;
    background-color: black;
    color: white;
    font-size: larger;
    width: 23rem;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}
.link{
    color: #b8b8bd;
    font-weight: 500;
    line-height: 2;
    margin-bottom: 1rem;
}
.link p span{
    cursor: pointer;
    color: rgb(65, 114, 252);
    
}
.link .smallHeading{
    padding-left: 3rem; 
}

.btns button{
    cursor: pointer;
    background-color: rgb(58, 99, 253);
    color: white;
    border: none;
    width: 100%;
    font-size: larger;
}
.btns{
    cursor: pointer;
    display: flex;
    width: 21.5rem;
    background-color: rgb(58, 99, 253); 
    padding: 10px;
    border-radius: 8px;
}
.btns img{
    cursor: pointer;
    height:40px;
    width:40px;
}