.userCard{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    border-bottom: 1px solid  rgba(224, 222, 222, 0.656);
    padding-top: 10px;
    height: 110px;
    cursor: pointer;
}
.currentWindow{
   background-color:rgb(234, 236, 255);
}
.userCard .content{
    /* background-color: red; */
}
.userCard .img{
    /* background-color: rgb(0, 132, 255); */
    text-align: center;
    position: relative;
}
.userCard .img img{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    margin-top: 10px;
}
.img .online{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(76, 213, 113);
    right: 35px;
    border-radius: 100%;
    bottom: 20px;
}

.content .msg{
    /* background-color: aqua; */
    position: relative;
    margin-top: 7px;
    padding-left: 10px;
}
.content .name{
    /* background-color: rgb(0, 255, 17); */
    padding-left: 10px;
    font-size: 25px;
    font-weight: bold;
}
.content .userOnline {
    /* background-color: rgb(0, 255, 17); */
   margin-top: 20px;
}

.content .time{
    position: relative;
    /* background-color: aquamarine; */
    text-align: end;
    padding:5px;
    padding-right: 30px;
    padding-bottom: 0;
    margin: 0;
    color: rgb(189, 189, 189);
}
.time .loading{
    position: absolute;
    font-size: 4rem;
    top:-20px;
    right: 20px;
}
.msg .msgCount{
    position: absolute;
    background-color: rgb(130, 137, 251);
    width: 35px;
    height: 35px;
    border-radius: 100%;
    font-weight: bold;
    color: white;
    right: 25px;
    bottom: 5px;
    /* text-align: center; */
}
.msgCount span{
    position: absolute;
    top: 5px;
    left: 14px;
}