.deleteBtn{
    padding: 15px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    background-color: red;
    color: white;
}
.viewBtn{
    padding: 15px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    background-color:#3399ff;
    color: white;
}