.note{
    display: grid;
    overflow: hidden;
    grid-template-rows: 0.08fr 1fr 0.08fr;
    background-color: gold;
    margin: 20px;
    height: 400px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.note:nth-child(odd) {
  background-color:rgb(255, 201, 114);
}
.note:nth-child(even) {
  background-color:rgb(255, 155, 115);
}
.btns
{
    display: flex;
    text-align: end;
    
}
.btns button
{
  border-radius: 100%;
    margin-right: 10px;
    color: white;
    background-color: black;
}
.btns .date
{
    font-weight: bold;
    text-align: left;
    padding-right: 20px;
}
.blurMode{
  filter: blur(4px);
}