.temprature{
    background-color: #222831;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 10px;
}