.nature h2{
    color: #ffff;
    font-size:40px;
    font-weight: 700;
    line-height: 0.5;
}
.nature h3{
    color: #ffff;
    
}

.nature{
    margin-left: 20px;
    margin-top: 150px;
}
.unit{
    display: inline;
    font-size: 50px;
}
