@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  margin: 0;
  /* background-color: black;
  background-image: url('./SVG/background.svg'); */
  background-color: #343D4B;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
}

