.view3{
    /* display: grid;
    grid-template-rows: 1fr 1fr 1fr; */
    padding: 30px;
    background-color: rgb(181, 255, 246);
}
.myimg img {
    width: 300px;
    height: 300px;
    border-radius: 300px;
}
/* .project{
   
}
.Education{
   
} */
.headingWithImg{
    display: grid;
    grid-template-columns: 1fr 1fr;
}