.createPost{
    background-color: rgb(255, 255, 255);
    width: 700px;
    height: 300px;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}